<h1>CENTRO MEDICO </h1>
<h2>LISTADO DE MEDICOS </h2>
<table>
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Consultorio</th>
            <th>Correo</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
       {{#each medicos}}
<form method="post" action="/medicos/actualizar/{{cedula}}">
<tr>
<td><input id="cedula" value="{{cedula}}" disabled></td>
<td><input id="nombre" name="nombre" value="{{nombres}}" {{../opcion}}></td>
<td><input id="apellido" name="apellido" value="{{apellidos}}" {{../opcion}}></td>
<td><input id="especialidad" name="especialidad" value="{{especialidad}}" {{../opcion}}></td>
<td><input id="consultorio" name="consultorio" value="{{consultorio}}" {{../opcion}}></td>
<td><input id="correo" name="correo" value="{{correo}}" {{../opcion}}></td>
<td>
{{#if ../estado}}
<a class="eliminar" href="medicos/eliminar/{{cedula}}">Eliminar</a>
<a class="editar" href="/medicos/activar">Editar</a>
{{else}}
<input type="submit" value="Enviar">
{{/if}}
</td>
</tr>
</form>
{{/each}}
</tbody>
</table>
<a href="medicos/agregar">Agregar medicos</a>
<a href="/">Volver</a>
